{{#each fiches}}
<div class="card mb-3" style="width: 70vw; min-height: 250px;">
	<div class="col-md-3 thumbFiche">
		<h2>{{ this.level }}</h2>
	</div>
	<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">{{ this.title }}</h5>
			<p class="card-text">{{ this.description }}</p>
			{{!-- <p class="card-text"><small class="text-muted">{{ this.submittedAt }}</small></p> --}}
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				Voir la fiche
			</button>
			{{#if this.userLikes includeZero=false}}
				<i class="far fa-heart"></i>
			{{else}}
				<i class="fas fa-heart"></i>
			{{/if}}
			<p>{{ this.likesLength }}</p>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ this.title }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{#if ../userId includeZero=true}}
					<img src="{{ this.img }}" class="card-img" alt="{{ this.title }}">
					<br>
					{{ this.content }}
				{{ else }}
					<p>Vous devez être connecté pour voir les fiches !</p>
				{{/if}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Fermer la
					fenêtre</button>
			</div>
		</div>
	</div>
</div>
{{/each}}