{{#each fiches}}
<div class="card mb-3" style="width: 70vw; min-height: 250px;">
		<div class="col-md-3 thumbFiche">
			<h1>{{ this.level }}</h1>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{ this.title }}</h5>
				<p class="card-text">{{ this.description }}</p>
				{{!-- <p class="card-text"><small class="text-muted">{{ this.submittedAt }}</small></p> --}}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					Voir la fiche
				</button>
			</div>
		</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ this.title }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img src="{{ this.img }}" class="card-img" alt="{{ this.title }}">
				<br>
				{{ this.description }} </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Fermer la fenêtre</button>
			</div>
		</div>
	</div>
</div>
{{/each}}