{{> head}}
{{> header}}



<div className="feed">
    <div className="container">
        <div className="row">
            <div className="col-md-12">
                <a href="/fiches/new" class="btn btn-primary btn-lg btn-block active">Créer une fiche</a>
                {{#each fiches}}
                <a href="" class="btn btn-primary stretched-link" data-toggle="modal"
                    data-target="#fiche-modal-{{ this.id }}">
                    <div class="card border-primary mb-3" style="width: 18rem;">
                        <div className="row">
                            <div className="col-2">
                                <div class="card-body">
                                    <div className="row">
                                        <div className="col-lg6 col-md-4 col-8">
                                            <h5>{{ this.title}} </h5>
                                        </div>
                                        <div className="col-md-4 d-none d-md-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>



                <!-- Modal -->
                <div class="modal fade" id="fiche-modal-{{ this.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ this.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ this.description}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>